<fieldset>
    <div class="field-container">
        <label for="text">Text Input <abbr title="Required">*</abbr></label>
        <input id="text" type="text" placeholder="Text Input">
    </div>
    <div class="field-container">
        <label for="password">Password</label>
        <input id="password" type="password" placeholder="Type your Password">
    </div>
    <div class="field-container">
        <label for="webaddress">Web Address</label>
        <input id="webaddress" type="url" placeholder="http://yoursite.com">
    </div>
    <div class="field-container">
        <label for="emailaddress">Email Address</label>
        <input id="emailaddress" type="email" placeholder="name@email.com">
    </div>
    <div class="field-container">
        <label for="emailaddress">Telephone</label>
        <input id="emailaddress" type="tel" placeholder="eg. +45 27286775">
    </div>
    <div class="field-container">
        <label for="search">Search</label>
        <input id="search" type="search" placeholder="Enter Search Term">
    </div>
    <div class="field-container">
        <label for="text">Number Input <abbr title="Required">*</abbr></label>
        <input id="text" type="number" placeholder="Enter a Number">
    </div>
    <div class="field-container">
        <label for="text">Date <abbr title="Required">*</abbr></label>
        <input id="text" type="date" placeholder="Enter a Date">
    </div>
    <div class="field-container">
        <label for="text">Range <abbr title="Required">*</abbr></label>
        <input id="text" type="range" placeholder="Enter a range">
    </div>
    <div class="field-container">
        <label for="text">Month <abbr title="Required">*</abbr></label>
        <input id="text" type="month" placeholder="Enter a month">
    </div>
    <div class="field-container">
        <label for="text">Week <abbr title="Required">*</abbr></label>
        <input id="text" type="week" placeholder="Enter a week">
    </div>
    <div class="field-container">
        <label for="text">Time <abbr title="Required">*</abbr></label>
        <input id="text" type="time" placeholder="Enter a time">
    </div>
    <div class="field-container">
        <label for="text">Datetime <abbr title="Required">*</abbr></label>
        <input id="text" type="datetime">
    </div>
    <div class="field-container">
        <label for="text">Local Datetime <abbr title="Required">*</abbr></label>
        <input id="text" type="datetime-local" placeholder="Enter a local datetime">
    </div>
    <div class="field-container">
        <label for="text">Color <abbr title="Required">*</abbr></label>
        <input id="text" type="color" placeholder="Pick a color">
    </div>
    <div class="field-container">
        <label for="textarea">Textarea</label>
        <textarea id="textarea" rows="8" cols="48" placeholder="Enter your message here"></textarea>
    </div>
    <div class="form-group has-error has-feedback">
        <label for="inputerror1">Error Input</label>
        <input id="inputerror1" type="text" placeholder="Text Input" aria-describedby="inputError2Status">
        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
        <span id="inputError2Status" class="sr-only">(error)</span>
    </div>
    <div class="field-container has-success has-feedback">
        <label>Valid</label>
        <input type="text" placeholder="Text Input" aria-describedby="inputSuccess2Status">
        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
        <span id="inputSuccess2Status" class="sr-only">(success)</span>
    </div>
</fieldset>