<form action="#">
    <fieldset class="options">
        <legend>Checkbox <abbr title="Required">*</abbr></legend>
        <ul>
            <li><label for="checkbox1"><input id="checkbox1" name="checkbox" type="checkbox" checked="checked"> Choice A</label></li>
            <li><label for="checkbox2"><input id="checkbox2" name="checkbox" type="checkbox"> Choice B</label></li>
            <li><label for="checkbox3"><input id="checkbox3" name="checkbox" type="checkbox"> Choice C</label></li>
        </ul>
    </fieldset>
    <div class="lui-check-button-slide">
      <input type="checkbox" id="name" name="name">
      <label for="name" data-checked-label="Enabled" data-unchecked-label="Disabled">
        <div class="lui-check-button-slide-indicator"></div>
      </label>
    </div>
    <div class="lui-check-button-slide">
      <input type="checkbox" id="disabledname" disabled="disabled">
      <label for="disabledname" data-checked-label="Enabled" data-unchecked-label="Disabled">
        <div class="lui-check-button-slide-indicator"></div>
      </label>
    </div>
    <div class="lui-check-button-slide">
      <input type="checkbox" id="disablednamechecked" checked="checked" disabled="disabled">
      <label for="disablednamechecked" data-checked-label="Enabled" data-unchecked-label="Disabled">
        <div class="lui-check-button-slide-indicator"></div>
      </label>
    </div>
    <input type="checkbox" id="button" name="button" class="lui-check-button">
    <label for="button" data-checked-label="Enabled" data-unchecked-label="Disabled">
    </label>
    <input type="checkbox" id="check-push-button" name="check-push-button" class="lui-check-button">
    <label for="check-push-button">
      Push me down
    </label>

</form>