<table class="table">
  <tbody>
    <tr>
      <td rowspan="2">1</td>
      <td>Impsum laorum muh day</td>
      <td>Plp</td>
      <td rowspan="2">12</td>
    </tr>
    <tr>
      <td>Muh Impsum laorum muh day</td>
      <td>Lppd$</td>
    </tr>
  </tbody>
</table>